# Name: Sushmita Pal
## Enrolment id- 0017

In [9]:
sents = ' the red dog cat eats dog dog eats food red cat eats'

In [10]:
set(sents.split())

{'cat', 'dog', 'eats', 'food', 'red', 'the'}

In [11]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [12]:
sentence_1 = ' it was a good practice for us'
sentence_2 = 'it was also good to know about it'
sentence_3 = 'for all of us they have done a good practice'

In [13]:
# find the list of all distinct words present in these three sentences

In [14]:
# my try    # when punctuation symbols included tokenization is needed

# Combine all sentences
combined_sentences = sentence_1 + ' ' + sentence_2 + ' ' + sentence_3

# Split the combined sentences into words and convert to set to get unique words
distinct_words = set(combined_sentences.lower().split())

# Print the list of distinct words
print(distinct_words)

{'also', 'us', 'it', 'about', 'of', 'to', 'know', 'was', 'have', 'all', 'they', 'done', 'for', 'a', 'practice', 'good'}

In [15]:
words = sentence_1.split()+ sentence_2.split()+ sentence_3.split()
set(words)

{'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [16]:
sentence_1 = ' it was a good practice for us'
sentence_2 = 'it was also good to know about it'
sentence_3 = 'for all of us they have done a good practice.' # punctuation-'.'

In [17]:
words = sentence_1.split()+ sentence_2.split()+ sentence_3.split()
set(words)

{'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'practice.',
 'they',
 'to',
 'us',
 'was'}

In [18]:
import nltk
from nltk.tokenize import word_tokenize

In [19]:
# my way
# Combine all sentences
combined_sentences = sentence_1 + ' ' + sentence_2 + ' ' + sentence_3

# Tokenize the combined sentences into words
words = word_tokenize(combined_sentences.lower())

# Get distinct words using set
distinct_words = set(words)

# Print the list of distinct words
print(distinct_words)

{'also', 'us', 'it', 'about', 'of', 'to', 'know', 'was', 'have', '.', 'all', 'they', 'done', 'for', 'a', 'practice', 'good'}

In [20]:
words = word_tokenize(sentence_1)+ word_tokenize(sentence_2)+ word_tokenize(sentence_3)
set(words)

{'.',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [21]:
sentence_1 = ' It was a good practice for us'
sentence_2 = 'It was also good to know about it'
sentence_3 = 'For all of us they have done a good practice.' # capitalize first word

In [22]:
words = word_tokenize(sentence_1)+ word_tokenize(sentence_2)+ word_tokenize(sentence_3)
set(words)

{'.',
 'For',
 'It',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [23]:
words = word_tokenize(sentence_1.lower())+ word_tokenize(sentence_2.lower())+ word_tokenize(sentence_3.lower())
set(words)

{'.',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [24]:
tokens = set(words)

In [25]:
tokens # different output cause manual way

{'.',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [26]:
list(tokens)

['also',
 'us',
 'it',
 'about',
 'of',
 'to',
 'know',
 'was',
 'have',
 '.',
 'all',
 'they',
 'done',
 'for',
 'a',
 'practice',
 'good']

In [27]:
df = pd.DataFrame(columns= list(tokens), index=[1,2,3])
df

,also,us,it,about,of,to,know,was,have,.,all,they,done,for,a,practice,good
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
tokens1 =  word_tokenize(sentence_1.lower())
tokens2 =  word_tokenize(sentence_2.lower())
tokens3 =  word_tokenize(sentence_3.lower())

In [29]:
tokens1, tokens2, tokens3

(['it', 'was', 'a', 'good', 'practice', 'for', 'us'],
 ['it', 'was', 'also', 'good', 'to', 'know', 'about', 'it'],
 ['for',
  'all',
  'of',
  'us',
  'they',
  'have',
  'done',
  'a',
  'good',
  'practice',
  '.'])

In [30]:
df.columns

Index(['also', 'us', 'it', 'about', 'of', 'to', 'know', 'was', 'have', '.',
       'all', 'they', 'done', 'for', 'a', 'practice', 'good'],
      dtype='object')

In [31]:
counts1 = [tokens1.count(x) for x in df.columns]
counts2 = [tokens2.count(x) for x in df.columns]
counts3 = [tokens3.count(x) for x in df.columns]

In [32]:
counts1, counts2, counts3

([0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1],
 [1, 0, 2, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
 [0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [33]:
df

,also,us,it,about,of,to,know,was,have,.,all,they,done,for,a,practice,good
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.iloc[0,:] = counts1
df.iloc[1,:] = counts2
df.iloc[2,:] =  counts3

In [35]:
df

  also us it about of to know was have  . all they done for  a practice good
1    0  1  1     0  0  0    0   1    0  0   0    0    0   1  1        1    1
2    1  0  2     1  0  1    1   1    0  0   0    0    0   0  0        0    1
3    0  1  0     0  1  0    0   0    1  1   1    1    1   1  1        1    1

In [36]:
# here we are using the class
# import the count vectorizer class
from sklearn.feature_extraction.text import CountVectorizer

In [37]:
# create the object
cv = CountVectorizer()

In [38]:
# apply the BOW method
mydata = cv.fit_transform([sentence_1, sentence_2, sentence_3])

In [39]:
mydata.toarray()

array([[0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 1, 0, 2, 1, 0, 0, 0, 1, 0, 1],
       [0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0]], dtype=int64)

In [40]:
cv.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [41]:
df = pd.DataFrame(data= mydata.toarray(),
                  columns=cv.get_feature_names_out())

In [42]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0,0,0,0,1,1,0,1,0,0,1,0,0,1,1
1,1,0,1,0,0,1,0,2,1,0,0,0,1,0,1
2,0,1,0,1,1,1,1,0,0,1,1,1,0,1,0

#### N-grams

In [43]:
# create the object
cv = CountVectorizer(ngram_range=(1,2))

In [44]:
# apply the BOW- ngram method
mydata = cv.fit_transform([sentence_1, sentence_2, sentence_3])

In [45]:
cv.get_feature_names_out()

array(['about', 'about it', 'all', 'all of', 'also', 'also good', 'done',
       'done good', 'for', 'for all', 'for us', 'good', 'good practice',
       'good to', 'have', 'have done', 'it', 'it was', 'know',
       'know about', 'of', 'of us', 'practice', 'practice for', 'they',
       'they have', 'to', 'to know', 'us', 'us they', 'was', 'was also',
       'was good'], dtype=object)

In [46]:
df = pd.DataFrame(data=mydata.toarray(),
                  columns=cv.get_feature_names_out())

In [47]:
df

,about,about it,all,all of,also,also good,done,done good,for,for all,...,practice for,they,they have,to,to know,us,us they,was,was also,was good
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,0,1
1,1,1,0,0,1,1,0,0,0,0,...,0,0,0,1,1,0,0,1,1,0
2,0,0,1,1,0,0,1,1,1,1,...,0,1,1,0,0,1,1,0,0,0

#### TF* IDF Vectorizer

In [48]:
# import the class
from sklearn.feature_extraction.text import TfidfVectorizer

In [49]:
#create the object
tfidf = TfidfVectorizer()

In [50]:
# apply the algorithm
new_data = tfidf.fit_transform([sentence_1, sentence_2, sentence_3])

In [51]:
new_data.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.42246056,
        0.32807831, 0.        , 0.42246056, 0.        , 0.        ,
        0.42246056, 0.        , 0.        , 0.42246056, 0.42246056],
       [0.37162591, 0.        , 0.37162591, 0.        , 0.        ,
        0.21948825, 0.        , 0.56526217, 0.37162591, 0.        ,
        0.        , 0.        , 0.37162591, 0.        , 0.28263108],
       [0.        , 0.37571621, 0.        , 0.37571621, 0.28574186,
        0.22190405, 0.37571621, 0.        , 0.        , 0.37571621,
        0.28574186, 0.37571621, 0.        , 0.28574186, 0.        ]])

In [52]:
tfidf.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [53]:
df = pd.DataFrame(data=new_data.toarray(),
                  columns=tfidf.get_feature_names_out())

In [54]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0.000000,0.000000,0.000000,0.000000,0.422461,0.328078,0.000000,0.422461,0.000000,0.000000,0.422461,0.000000,0.000000,0.422461,0.422461
1,0.371626,0.000000,0.371626,0.000000,0.000000,0.219488,0.000000,0.565262,0.371626,0.000000,0.000000,0.000000,0.371626,0.000000,0.282631
2,0.000000,0.375716,0.000000,0.375716,0.285742,0.221904,0.375716,0.000000,0.000000,0.375716,0.285742,0.375716,0.000000,0.285742,0.000000